---
---

@import "{{ site.theme }}";

#header {
  display: none;
  height: 0px;

  nav {
    max-width: 650px;
    // margin: 0 auto;
    padding: 0px 10px;
    margin: 25px auto;
    background: none;
    text-align: right;

    a {
      padding-left: 15px;
    }

  }

}

a {
  color:#c17fff;

  &:hover {
    color: #d3a4ff;
  }
}

blockquote {
  border-left:3px solid #c17fff;
}

